<a href="https://colab.research.google.com/github/madhav7034/Notes/blob/main/controlflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

if and else

In [ ]:
x=int(input('Enter your age: '))
if x>=18 :
 print("You are eligible to vote")
else:
 print('You are ineligible to vote')

Enter your age: 12
You are ineligible to vote

IF- ELIF

In [ ]:
x=int(input('Enter your number: '))
if x>0:
  print(x ,'is greater than 0')
elif x==0:
    print(x,'is equal to 0')
elif x<0:
      print(x,'is less than 0')

Enter your number: -10
-10 is less than 0

In [ ]:
x=int(input('Enter your age: '))
if x<=12:
  print('You are a child')
elif x>=13 and x <=19:
  print('You are a teen')
elif x>=20 and x<=59:
  print('You are an adult')
elif x>60:
  print('You are a senior citizen')

Enter your age: 59
You are an adult

Name lengthy (more than 10 chars)

In [ ]:
x=input('Enter your name: ')
if len(x)>10:
  print('Your name is lengthy')
else:
  print('Your name is normal')

Enter your name: farhan kareeem
Your name is lengthy

railway time

In [ ]:
x=int(input('Enter the hour: '))
y=int(input('Enter the minutes: '))
if x==24:
  print(z,':',y,'am')
if x>12 or x<24:
  z=x-12
  print(z,':',y,'pm')
else:
  print(x,':',y,'am')

Enter the hour: 24
Enter the minutes: 10
12 : 10 am
12 : 10 pm

1. palindrome or not

In [ ]:
x=input('Enter your string: ')
y=x[::-1]
if y==x:
  print('The given string is palindrome')
else:
  print('The given string is not palindrome')

Enter your string: malayalam
The given string is palindrome

primary color or not

In [ ]:
x=input('Enter your color: ')
if x=='red'or x=='blue' or x=='green':
  print('Your favourite color is primary')
else:
  print('Your favourite color is not primary')

Enter your color: green
Your favourite color is primary

expired or not

In [ ]:
x=int(input('Enter Date: '))
y=int(input('Enter Month: '))
z=int(input('Enter Year: '))

a=int(input('Enter Date: '))
b=int(input('Enter Month: '))
c=int(input('Enter Year: '))
q=y+6
if q>8:
  print('Product fresh')
elif q<8:
  print('exp')

Enter Date: 12
Enter Month: 09
Enter Year: 2025
Product fresh

In [ ]:
import datetime

x =input(datetime.datetime)
print(x)

<class 'datetime.datetime'>22-02-2002
22-02-2002

Multivariable Assignment

In [ ]:
name,age,location='Guest',22,'Cochin'
print(name)
print(age)
print(location)

Guest
22
Cochin

In [ ]:
print('Hello')
print('Hi',end='_')
print('Welcome')

Hello
Hi_Welcome

Conversion

In [ ]:
#integer to string
a=5
b=str(a)
print(b, type[b])

#string to integer
a='5'
b=int(a)
print(b, type[b])

#integer to float
a=5
b=float(a)
print(b,type[b])

String join

In [ ]:
 domain=['Data','Science']
 "_".join(domain)

'Data_Science'

list op

In [ ]:
x=[1,2,3]
x.append(4)
print(x)
x.extend([5,6])
x.remove(2)
print(x)
x.insert(0,10)
print(x)
x.reverse()
print(x)
x.sort()
print(x)
e=x.pop(0)
print(e,x)
x.clear()
print(x)

[1, 2, 3, 4]
[1, 3, 4, 5, 6]
[10, 1, 3, 4, 5, 6]
[6, 5, 4, 3, 1, 10]
[1, 3, 4, 5, 6, 10]
1 [3, 4, 5, 6, 10]
[]

convert date format

In [ ]:
x=int(input('Enter your date: '))