<a href="https://colab.research.google.com/github/madhav7034/Notes/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def greet():
  print('Hello welcome')

greet()
greet()

Hello welcome
Hello welcome

In [ ]:
def greet():
  pass
  greet()

In [ ]:
def greet(name):
  print(f'Hello {name}, welcome to the program')

greet('Riyan')
greet('Farhan')

Hello Riyan, welcome to the program
Hello Farhan, welcome to the program

In [ ]:
def greet(name,time='11pm'):   #default (time='')
  print(f'Hello {name}, welcome to the program')
  print(f'Your session will start at {time}')

greet('Riyan','3pm')
greet('Farhan','4pm')
greet('Althaf')

Hello Riyan, welcome to the program
Your session will start at 3pm
Hello Farhan, welcome to the program
Your session will start at 4pm
Hello Althaf, welcome to the program
Your session will start at 11pm

In [ ]:
x=int(input('Enter the first number: '))
y=int(input('Enter the second number: '))
def mul(x,y):
  k=x*y
  print(k)
mul(x,y)

Enter the first number: 2
Enter the second number: 3
6

In [ ]:
x=int(input('Enter the total bill amount: '))
def total(a):
  y=x*10/100
  z=x+y
  print(z)

total(x)

Enter the total bill amount: 100
110.0

In [ ]:
x=int(input('Enter the total bill amount: '))
def total(a):
  if price>=1000:
    y=x+(20/100*x)
    elif price>=500
    y=x+(15/100*x)

In [ ]:
num_list = [12,4,5,7,8,1,10,21]

def avg_even(numberlist):
  even_list=[]
  odd_list=[]
  for num in numberlist:
    if num % 2 ==0  :
      even_list.append(num)
    else :
      odd_list.append(num)
    avg = sum(even_list)/len(even_list)
  avg2 = sum(odd_list)/len(odd_list)
  print(even_list)
  print(odd_list)
  print(avg)
  print(avg2)

avg_even(num_list)

[12, 4, 8, 10]
[5, 7, 1, 21]
8.5
8.5

In [ ]:
def sum_numbers(*args):
  print(type(args))
  total=0
  for i in args:
    total+=i
  print(total)

sum_numbers(7,8,9,4,3)

<class 'tuple'>
31

In [ ]:
def print_info(**args):
  for item,val in args.items():
    print(f'{item} is {val}')

print_info(name='Riyan',place='Kollam',score=6)
print_info(batch='DSA',student='Farhan',qualification='Btech')

name is Riyan
place is Kollam
score is 6
batch is DSA
student is Farhan
qualification is Btech

In [ ]:
square=lambda x:x*x
square(5)

25

In [ ]:
add=lambda x,y:x+y
add(3,5)

8

In [ ]:
def Totalmark(marks):
  return(sum(marks))

FinalScore=Totalmark([10,20,30,40,50])
if FinalScore>=90:
  print('Grade A')
elif FinalScore>=80:
  print('Grade B')
elif FinalScore>=70:
  print('Grade C')
elif FInalScore>=60:
  print('Grade D')

Grade A

OOPS

1. class
2. object/instance
3. Inheritence
4. Polymorphism
5. Encapsulation
6. Abstraction

In [ ]:
class Animal:
  animal_type='Dog'
  num_legs=4
  mammal='Yes'

  def Sound(self):
    print('Animal barks')
obj1=Animal()
obj1.Sound()

Animal barks

In [ ]:
class person :
  place='TVM'

  def __init__(self,name,age):
    self.name=name
    self.age=age
  def greet(self):
    return f'Hi myself {self.name} and my age  is {self.age} and I am from {self.place}'
obj1=person('Riyan',23)
obj1.greet()

'Hi myself Riyan and my age  is 23 and I am from TVM'

In [ ]:
class employee :
  def init(self,name,emp_id,salary):
    self.name = name
    self.emp_id = emp_id
    self.salary = salary

  def display_info(self):
    print(f'name : {self.name}')
    print(f"employee ID:{self.emp_id}")
    print(f"salary: {self.salary}")

  class manager (employee):
    def init(self,name,emp_id,salary,dept,teamsize):
      super() .init(name,emp_id,salary)
      self.dept = dept
      self.teamsize = teamsize

    def display_manager_info(self):
      self.display_info()
      print(f"department: {self.dept}")
      print(f"team size: {self.teamsize}")

  emp1= employee(" john doe","12345",50000)
  emp1.display_info()

  manager1= manager("jane smith", "67890",80000,10,30)
  manager1.display_manager_info()

AttributeError: 'employee' object has no attribute 'display_info'